@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
@import "reset.css";
@import "components/status_bar.css";
@import "variables.css";
@import "screens/login.css";
@import "components/nav-bar.css";
@import "components/screen-bar.css";
@import "screens/friends.css";
@import "components/user-component.css";

body {
  font-family: "Open Sans", sans-serif;
  height: 1000vh;
  color: #2f363e;
}
