.alt-header {
  margin-top: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px var(--horizontal-space);
}

.alt-header__title {
  font-size: 28px;
  font-weight: 600;
}

.alt-header__column:first-child {
  margin-right: auto;
}

.alt-header__column:last-child {
  display: flex;
  justify-content: flex-end;
}

.alt-header__column {
  width: 33%;
}

.alt-header__column:nth-child(2) {
  display: flex;
  justify-content: center;
}

.alt-header__column:last-child i {
  margin-left: 20px;
}
